.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      =link_to root_url, class: 'brand' do
        %span.blue DAYO
        .nav-collapse.container-fluid
          %ul.nav
            %li
              = link_to 'Campaign', "accounts_path"

          %ul.nav.pull-right
            .btn-group
              ="Acccount"
            .btn-group
              = link_to '#', :class => 'btn btn-primary' do
                %i.icon-user.icon-white
                Client
              =link_to "#", :class => "btn btn-primary dropdown-toggle", 'data-toggle' => 'dropdown' do
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to '#' do
                    %i.icon-pencil
                    Profile
                %li
                  %i.icon-off
                  Logout
